* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#contExt {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25vh;
    background-color: red;
    border-radius: 20px;
}

#contInt {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25vw;
    height: 25vh;
    background-color: darkgreen;
    border-radius: 20px;
}

a {
    display: block;
    margin: 10px;
    background-color: blanchedalmond;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;

}